Pod::Spec.new do |s|
  s.name                  = "ClarabridgeChat"
#  s.version               = "YOUR_VERSION"
#  s.summary               = "YOUR_SUMMARY"
#  s.homepage              = "YOUR_HOMEPAGE"
#  s.author                = { "YOU" => "YOUR_EMAIL" }
#  s.source 	              = { :git => "YOUR_FRAMEWORK_GIT_SOURCE, :tag =>"3.1.0" }
  s.license               = { :type => "Commercial", :text => "https://app.engagor.com/privacy-policy" }
  s.preserve_paths        = "ClarabridgeChat.xcframework/*"
  s.frameworks            = "ClarabridgeChat", "CoreText", "SystemConfiguration", "CoreTelephony", "Foundation", "CoreGraphics", "UIKit", "QuartzCore", "AssetsLibrary", "Photos", "AVFoundation", "CFNetwork"
  s.library               = "icucore"
  s.xcconfig              = { "FRAMEWORK_SEARCH_PATHS" => "$(PODS_ROOT)/ClarabridgeChat" }
  s.vendored_frameworks   = "ClarabridgeChat.xcframework"
  s.requires_arc          = true
  s.platform              = :ios
  s.ios.deployment_target = '8.0'
end
