Pod::Spec.new do |s|
  s.name                  = "ClarabridgeChat"
#  s.version               = "3.1.0"
#  s.summary               = "Clarabridge iOS Chat SDK"
#  s.homepage              = "https://www.clarabridge.com"
#  s.author                = { "YOU" => "anthony.meirlaen@clarabridge.com" }
  s.license               = { :type => "Commercial", :text => "https://app.engagor.com/privacy-policy" }
  s.source                = { :path => '.' }
  s.frameworks            = "ClarabridgeChat", "CoreText", "SystemConfiguration", "CoreTelephony", "Foundation", "CoreGraphics", "UIKit", "QuartzCore", "AssetsLibrary", "Photos", "AVFoundation", "CFNetwork"
  s.library               = "icucore"
  s.vendored_frameworks   = "ClarabridgeChat.xcframework"
  s.requires_arc          = true
  s.platform              = :ios
  s.ios.deployment_target = '8.0'
end
